@using ManageProd.Models.DTO

@model OrdenCompraDTO

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <style type="text/css">
                .tg {
                    border: 0px none white;
                    width: 300px;
                    height: 100%;
                    text-align: center;
                }

                    .tg td {
                        border-color: white;
                        border-style: none;
                        border-width: 1px;
                        font-family: 'Lucida Console';
                        font-size: 9px;
                        overflow: hidden;
                        word-break: normal;
                    }

                    .tg th {
                        border-color: white;
                        border-style: none;
                        border-width: 1px;
                        font-family: 'Lucida Console';
                        font-size: 9px;
                        font-weight: normal;
                        overflow: hidden;
                        word-break: normal;
                    }

                    .tg .tg-c3ow {
                        border-color: white;
                        border-style: none;
                        text-align: center;
                        vertical-align: top;
                        font-size: 11px;
                    }

                    .tg .tg-0pky {
                        border-color: white;
                        border-style: none;
                        text-align: left;
                        vertical-align: top;
                        font-size: 8px;
                    }

                    .tg .tg-0pkyCenter {
                        border-color: white;
                        border-style: none;
                        text-align: center;
                        vertical-align: top;
                        font-size: 8px;
                    }

                    .tg .tg-0pkyRight {
                        border-color: white;
                        border-style: none;
                        text-align: right;
                        vertical-align: top;
                        font-size: 8px;
                    }

                    .tg .tg-7btt {
                        border-color: white;
                        border-style: none;
                        font-weight: bold;
                        text-align: center;
                        vertical-align: top;
                        font-size: 10px;
                    }

                .Existencias {
                    border-color: white;
                    border-style: none;
                    text-align: justify;
                    vertical-align: top;
                    font-size: 9px;
                    height: 30px;
                }
            </style>
            <table class="tg">
                <thead>
                    <tr>
                        <th class="tg-c3ow" colspan="8"><span style="font-weight: bold">Comercializadora de Carnes Frias</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-0pky" colspan="8">
                            <span style="font-weight: bold">Fecha de compra: </span> @Model.FechaCompra<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow" colspan="8">
                            <span style="font-weight: bold">Ticket de compra </span>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td class="tg-0pky" colspan="8"><span style="font-weight: bold">Generado por: </span>@Model.UsuarioCreacion</td>
                    </tr>
                    <tr>
                        <td class="tg-0pky" colspan="8"><span style="font-weight: bold">Proveedor: </span>  @Model.Proveedor</td>
                    </tr>
                    @if (@Model.Notas != string.Empty)
                    {
                        <tr>
                            <td class="tg-0pky" colspan="8"><span style="font-weight: bold">Notas: </span>  @Model.Notas</td>
                        </tr>
                    }
                    <tr>
                        <td class="tg-7btt" colspan="3">Producto</td>
                        <td class="tg-7btt">Cantidad</td>
                        <td class="tg-7btt">Peso B.</td>
                        <td class="tg-7btt">Peso N.</td>
                        <td class="tg-7btt">Precio</td>
                        <td class="tg-7btt">Importe</td>
                    </tr>
                    @foreach (var item in Model.Productos)
                    {
                        <tr>
                            <td class="tg-0pky" colspan="3">@item.ProductoDesc</td>
                            <td class="tg-0pkyCenter">@item.Cantidad</td>
                            <td class="tg-0pkyCenter">@item.PesoBruto</td>
                            <td class="tg-0pkyCenter">@item.PesoNeto</td>
                            <td class="tg-0pkyCenter">@item.Precio</td>
                            <td class="tg-0pkyRight ">@item.Importe</td>
                        </tr>
                    }

                    <tr>
                        <td class="tg-0pky" colspan="8"></td>
                    </tr>
                    <tr>
                        <td class="tg-7btt" colspan="5">Total a pagar</td>
                        <td class="tg-7btt" colspan="3">@Model.MontoTotal</td>
                    </tr>
                    <tr>
                        <td class="tg-0pky" colspan="8"></td>
                    </tr>
                    <tr>
                        <td class="tg-0pky" colspan="8">@Model.MontoLetra</td>
                    </tr>
                    <tr>
                        <td class="tg-0pky" colspan="8"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>




